In [1]:
from pymongo import MongoClient
import pprint

client = MongoClient()
db = client.test

In [3]:
result = db.restaurants.update_one(
    {"name": "Juni"},
    {
        "$set": {
            "cuisine": "American (New)"
        },
        "$currentDate": {"lastModified": True}
    }
)

In [4]:
result.matched_count

1

In [5]:
result.modified_count

1

In [8]:
result = db.restaurants.update_one(
    {"restaurant_id": "41156888"},
    {"$set": {"address.street": "East 31st Street"}}
)

In [9]:
result.matched_count

1

In [10]:
result.modified_count

1

In [11]:
result = db.restaurants.update_many(
    {"address.zipcode": "10016", "cuisine": "Other"},
    {
        "$set": {"cuisine": "Category To Be Determined"},
        "$currentDate": {"lastModified": True}
    }
)

In [12]:
result.matched_count

20

In [13]:
result.modified_count

20

In [14]:
result = db.restaurants.replace_one(
    {"restaurant_id": "41704620"},
    {
        "name": "Vella 2",
        "address": {
            "coord": [-73.9557413, 40.7720266],
            "building": "1480",
            "street": "2 Avenue",
            "zipcode": "10075"
        }
    }
)

In [15]:
result.matched_count

1

In [16]:
cursor = db.restaurants.find({"restaurant_id": "41704620"})
for data in cursor:
    print(cursor)