In [2]:
library(tidyr)
library(dplyr)

In [4]:
set.seed(1)

In [6]:
ex <- data.frame(
  participant = c("p1", "p2", "p3", "p4", "p5", "p6"), 
  info = c("g1m", "g1m", "g1f", "g2m", "g2m", "g2m"),
  day1score = rnorm(n = 6, mean = 80, sd = 15), 
  day2score = rnorm(n = 6, mean = 88, sd = 8)
)

In [11]:
ex

  participant info day1score day2score
1          p1  g1m  70.68139  94.56977
2          p2  g1m  46.77950  92.75121
3          p3  g1f  96.87396  95.35182
4          p4  g2m  79.32600  94.25709
5          p5  g2m  79.75715  88.59652
6          p6  g2m  94.15754  72.08519

In [15]:
ex %>%
gather(day, score, c(day1score, day2score))

   participant info       day    score
1           p1  g1m day1score 70.68139
2           p2  g1m day1score 46.77950
3           p3  g1f day1score 96.87396
4           p4  g2m day1score 79.32600
5           p5  g2m day1score 79.75715
6           p6  g2m day1score 94.15754
7           p1  g1m day2score 94.56977
8           p2  g1m day2score 92.75121
9           p3  g1f day2score 95.35182
10          p4  g2m day2score 94.25709
11          p5  g2m day2score 88.59652
12          p6  g2m day2score 72.08519

In [16]:
ex %>%
gather(day, score, c(day1score, day2score)) %>%
spread(day, score)

  participant info day1score day2score
1          p1  g1m  70.68139  94.56977
2          p2  g1m  46.77950  92.75121
3          p3  g1f  96.87396  95.35182
4          p4  g2m  79.32600  94.25709
5          p5  g2m  79.75715  88.59652
6          p6  g2m  94.15754  72.08519

In [24]:
ex %>%
gather(day, score, c(day1score, day2score)) %>%
separate(col = info, into = c("group","gender"), sep =2)

   participant group gender       day    score
1           p1    g1      m day1score 70.68139
2           p2    g1      m day1score 46.77950
3           p3    g1      f day1score 96.87396
4           p4    g2      m day1score 79.32600
5           p5    g2      m day1score 79.75715
6           p6    g2      m day1score 94.15754
7           p1    g1      m day2score 94.56977
8           p2    g1      m day2score 92.75121
9           p3    g1      f day2score 95.35182
10          p4    g2      m day2score 94.25709
11          p5    g2      m day2score 88.59652
12          p6    g2      m day2score 72.08519